[Unit]
Description=SonarQube service
Requires=network.target
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
LimitNOFILE=131072
LimitNPROC=15656
ExecStart=/opt/sonar/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonar/bin/linux-x86-64/sonar.sh stop
ExecReload=/opt/sonar/bin/linux-x86-64/sonar.sh restart
Restart=on-failure
RestartSec=10
PIDFile=/opt/sonar/bin/linux-x86-64/SonarQube.pid
User={{ sonar.os_user_name }}
Group={{ sonar.os_user_name }}

[Install]
WantedBy=multi-user.target
